* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 150ms;
}

html,
body,
:root {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

:root {
  --primary-color-text: black;
  --secondary-color-text: white;
  --primary-color: #d56c06;
  --tertiary-color: #97bf0d;
  --title-font-size: 20px;
  --text-second-font-size: 12px;
  --font-family: "poppins";
}

.button1 {
  background-color: var(--primary-color);
  color: var(--secondary-color-text);
  border: none;
  border-radius: 20px;
  width: 90vw;
  height: 8vh;
  font-size: var(--title-font-size);
  font-family: var(--font-family);
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
  }
}

.button2 {
  background-color: white;
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 20px;
  width: 60vw;
  height: 8vh;
  font-size: var(--title-font-size);
  font-family: var(--font-family);
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color-text);
    border: none;
  }
}

.button3 {
  background-color: white;
  color: var(--primary-color-text);
  border: none;
  font-size: 15px;
  font-family: var(--font-family);
  margin-bottom: 15px;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.buttonGreen {
  background-color: var(--tertiary-color);
  color: var(--secondary-color-text);
  border: none;
  border-radius: 20px;
  width: 90vw;
  height: 8vh;
  font-size: var(--title-font-size);
  font-family: var(--font-family);
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: var(--tertiary-color);
    border: solid 2px var(--tertiary-color);
  }
}

@media screen and (min-width: 900px) {
  html,
  body,
  :root {
    overflow-y: auto;
  }

  .button1 {
    border-radius: 20px;
    width: 15vw;
    height: 5vh;
    font-size: 1em;
    font-family: var(--font-family);
    margin-bottom: 15px;

    &:hover {
      cursor: pointer;
    }
  }
  .buttonGreen {
    width: 15vw;
    height: 5vh;
    font-size: 1em;
    font-family: var(--font-family);
  }
}
