.filters {
  background-color: white;
  overflow-y: scroll;
  .filters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftArrow {
      margin: 10px;
      font-size: 1.5rem;
      color: white;
      background-color: var(--primary-color);
      border: none;
      border-radius: 10px;
      padding: 0 5px 3px 5px;
    }

    p {
      font-weight: 900;
    }
    .filters-button-container {
      display: flex;
      justify-content: end;
      align-self: flex-end;

      .reset-button {
        background-color: var(--primary-color);
        color: white;
        border-radius: 15px;
        border: solid 1px;
        border-color: var(--primary-color);
        padding: 1vh 2vh 1vh 2vh;
        font-size: 1rem;

        &:hover {
          background-color: white;
          color: var(--primary-color);
          cursor: pointer;
        }
      }
    }
  }
  .filters-box {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .separationBarre {
      margin-top: 15px;
      margin-bottom: 15px;
      // display: flex;
      display: none;
      // align-self: center;
      width: 55%;
      height: 0.5px;
      border: solid 1px black;
    }
  }
}

@media screen and (min-width: 1000px) {
  .filters {
    padding-top: 15px;
    padding-left: 30px;
    height: 89vh;

    .filters-header {
      justify-content: flex-end;

      p {
        display: none;
      }
      a {
        display: none;
      }
      .filters-button-container {
        padding-right: 5px;
      }
    }
    .filters-box {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .filter-titles {
        padding-top: 0vh;
        padding-bottom: 10px;
      }
      .filters-button-container {
        gap: 5px;
      }
    }
  }
}
