.recipe_post {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-left: 1vw;
  padding-inline: 2vw;
  p {
    color: #d56c06;
    font-size: 1.5rem;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: bold;
  }
  .post_left {
    .number_persons {
      .counter {
        display: flex;
        align-items: center;
        width: 30vh;
        gap: 20px;
        .serving_button {
          background-color: var(--primary-color);
          color: var(--secondary-color-text);
          border: none;
          border-radius: 50px;
          width: 30px;
          height: 30px;
          font-size: var(--title-font-size);
          font-family: var(--font-family);
          &:hover {
            cursor: pointer;
          }
          &:active {
            scale: 0.8;
          }
        }
      }
    }
  }
  .post_right {
    .ingListSummary {
      .list {
        display: flex;
        align-items: center;
        gap: 3px;
        p {
          color: black;
          font-size: 0.8rem;
          font-weight: 450;
        }
        // .removeIng{
        //   background-color: var(--primary-color);
        //   border-radius: 50px;
        //   width: 20px;
        //   height: 20px;
        //   align-items: center;
        // }
      }
    }
    .share-recipe {
      margin-bottom: 13vh;
      background-color: var(--primary-color);
      color: var(--secondary-color-text);
      font-size: 1.5rem;
      border-radius: 10px;
      border: none;
      width: 40vw;
      height: 6vh;
      justify-self: center;
      &:hover {
        color: black;
      }
    }
    .share-recipe:disabled {
      opacity: 0.5;
      cursor: default;
      &:hover {
        color: var(--secondary-color-text);
      }
    }
  }
  .filters-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: 100%;
  }
  .filters-button-segmented-container {
    .segmented-chip {
      border: solid black 1px;
      border-right: none;
      background-color: white;
      padding: 1vh 2vh 1vh 2vh;
      font-size: 1rem;
      gap: 0;

      &:hover {
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
      }
    }
    .segmented-chip:first-child {
      border-radius: 15px 0 0 15px;
    }
    .segmented-chip:last-child {
      border-radius: 0 15px 15px 0;
    }
    .selected-segmented {
      background-color: var(--primary-color);
      color: white;
      border: solid black 1px;
      padding: 1vh 2vh 1vh 2vh;
      font-size: 1rem;
      gap: 0;
    }
    .selected-segmented:first-child {
      border-radius: 15px 0 0 15px;
    }
    .selected-segmented:last-child {
      border-radius: 0 15px 15px 0;
    }
  }
}

.chip {
  border: solid black 1px;
  border-radius: 15px;
  padding: 7px;
  font-size: 1rem;
  background-color: white;
  &:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
  }

  &:hover {
    background-color: #d56c06;
    color: white;
    cursor: pointer;
  }

  img {
    width: 40px;
  }
}
.selected {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}
