.recipeCard {
  display: flex;
  flex-direction: column;
  // background-color: blue;
}

.steps_details {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 13vh;
  // background-color: red;
}

@media screen and (min-width: 900px) {
  .recipeDetails {
    flex-direction: initial;
    flex-wrap: wrap;
  }
}
