.userRecipe::-webkit-scrollbar {
  height: 8px;
  &-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
  }
}
.user-container {
  width: 100vw;
  margin-top: 5px;

  h1 {
    font-size: var(--title-font-size);
    text-align: center;
    margin-bottom: 30px;
  }

  .infos-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    h2 {
      font-size: 15px;
    }

    .avatars {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .avatars-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-size: 15px;
        }

        form {
          display: flex;
          justify-content: center;

          input {
            font-size: var(--text-second-font-size);
            color: var(--primary-color);
          }
          .add-avatar-button {
            display: flex;
            justify-content: center;
            .button-user-avatar {
              width: 6vw;
              padding: 5px;
              font-size: var(--text-second-font-size);
              border: none;
              background-color: var(--primary-color);
              color: white;
              border-radius: 50%;
            }
          }
        }

        .avatar-map {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 10px;
          margin-bottom: 20px;
          img {
            width: 6vh;
          }
        }
      }
    }

    .preferences-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-size: 15px;
      }

      .preferences {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;

        button {
          border-radius: 80px;
          width: 5vw;
          height: 2.5vh;
          background-color: red;
          color: white;
          border: none;
          margin-bottom: 5px;
          font-size: 15px;
        }

        .onePreferences {
          border-radius: 10px;
          width: 30vw;
          border: 1px solid var(--primary-color);
          color: var(--primary-color);
          font-size: 13px;
          text-align: center;
        }
      }
      .button-user-preferences {
        height: 4vh;
        width: 38vw;
        font-size: 12px;
        border: none;
        background-color: var(--primary-color);
        color: white;
        border-radius: 10px;
        margin: 0 auto;
      }
    }
    .userRecipeBox {
      width: 100%;
      // height: 35vh;
      .userRecipe {
        display: flex;
        height: 70%;
        width: 100%;
        margin-block: 1.2rem;
        overflow-x: scroll;
        padding-bottom: 1rem;
        a {
          padding-inline: 10px;
          // width: 40%;
          .userRecipeCard {
            box-shadow: 4px 4px 8px 0px #bbb9b9;
            flex-direction: column;
            height: 100%;
            border-radius: 7px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            width: 100%;

            .imgBox {
              img {
                object-fit: cover;
                height: 150px;
              }
            }

            p {
              padding-left: 0.3rem;
              padding-bottom: 0.3rem;
              font-size: 1.2rem;
              font-weight: bold;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          .notValidateRecipe {
            filter: grayscale(75%);
            color: rgb(255, 121, 121);
          }
        }
      }
    }
  }

  .user {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    img {
      height: 18vh;
    }

    .userInfos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        font-size: var(--title-font-size);
      }
    }
  }

  .modify-button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button {
      height: 4vh;
      width: 40vw;
      font-size: 12px;
      border: none;
      background-color: var(--primary-color);
      color: white;
      border-radius: 8px;
    }
  }

  h2 {
    font-size: var(--text-second-font-size);
    margin-top: 10px;
  }

  p {
    font-size: var(--text-second-font-size);
  }

  .separationBarre {
    width: 55%;
    border: solid 0.1px rgb(117, 117, 117);
    margin: 0 auto;
  }

  .delete-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    button {
      height: 5vh;
      background-color: rgba(255, 255, 255, 0);
      color: var(--primary-color);
      font-size: var(--text-second-font-size);
      border: none;
      text-decoration: underline;
    }
  }
  .reset-button {
    margin-bottom: 15vh;
  }
}

@media screen and (min-width: 899px) {
  .user-container {
    .reset-button {
      display: none;
    }
    h1 {
      font-size: 2rem;
    }

    .modify-button {
      button {
        width: 10vw;
      }
    }

    .user {
      display: flex;
      gap: 80px;
      margin: 0 auto;
      margin-bottom: 20px;

      img {
        height: 25vh;
      }
    }

    .infos-user {
      .preferences-container {
        .button-user-preferences {
          width: 10vw;
        }
      }
    }
  }
}
