.navBarMobile {
  display: flex;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  justify-content: space-around;

  button {
    background: white;
    border: none;
    height: 10vh;
  }

  img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
  }
}
// }
