.NavBar {
  display: flex;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;

  a {
    display: flex;
    width: 100vw;
    text-decoration: none;
    button {
      background: white;
      border: none;
      flex: 1;
      height: 10vh;
    }

    img {
      width: 20px;
      height: 20px;
      margin-bottom: 5px;
    }
  }
}
