.navBarDesktop {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--primary-color);

  .menuBurger {
    cursor: pointer;
    border-radius: 8px;

    z-index: 1;
    background-color: white;
    // border-left: solid 2px var(--primary-color);
    // border-bottom: solid 2px var(--primary-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 10vh;
    margin-top: 1px;
    margin-right: 10px;
    right: 0;
    width: 12vw;
    height: auto;
    padding: 10px;

    a {
      text-decoration: none;
    }
    div {
      padding: 2px;
      color: white;
      text-decoration: none;
      text-align: center;
      &:hover {
        color: black;
      }
    }
  }

  .logo {
    aspect-ratio: 1/1;
    margin: 5px;
    overflow: hidden;
    border-radius: 15px;
    height: 90%;

    img {
      width: 100%;
      scale: 1.3;
    }
  }

  .lien {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;

    .text {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      text-decoration: none;
      padding: 15px;
      font-size: 1.8rem;
      display: flex;
      color: white;
      font-weight: 600;
      text-decoration: none;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;

      &:hover {
        color: var(--primary-color-text);
        cursor: pointer;
      }

      // todo : faire fonctionner le active :
      // p:active {
      //   color: var(--primary-color-text);
      // }
    }

    .lien1 {
      display: flex;
      width: 50vw;
    }

    .account-link {
      display: flex;
      border: none;
      background: none;
      // flex-direction: column;
      align-items: center;

      img {
        height: 5vh;

        &:hover {
          color: var(--primary-color-text);
          cursor: pointer;
        }
      }
      p {
        color: white;

        padding-right: 10px;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navBarDesktop {
    .logo {
      width: 6vw;
      height: 10vh;
      padding: 5px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .navBarDesktop {
    .logo {
      width: 5vw;
      height: 10vh;
      padding: 5px;
    }
  }
}
