.post {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  align-items: center;

  .post-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: white;
    margin: 8vw;
    padding: 8vw;
    p {
      color: var(--primary-color);
      font-size: 1.75rem;
      text-align: center;
    }
    a {
      color: black;
      font-size: larger;
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 900px) {
  .post {
    .post-modal {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50vw;
      height: 35vh;
      a {
        width: 30vw;
      }
    }
  }
}
