.inscription {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  align-items: center;
  flex-direction: column;

  .signin-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    width: 90vw;
    height: 60%;
    background-color: white;

    .closeDiv {
      margin: 20px 0 0 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    button.closeButton {
      background-color: white;
      font-weight: black;
      border: none;
      font-size: 2rem;
      width: 80px;
      cursor: pointer;
    }

    .message {
      .error {
        color: red;
        font-size: 1.5rem;
      }
    }

    .formDiv {
      text-align: center;

      h1 {
        margin-bottom: 15px;
      }
    }

    h1 {
      color: var(--primary-color);
      font-size: 2rem;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 25px;

      input {
        width: 80vw;
        height: 6vh;
        border-radius: 10px;
        font-size: var(--text-second-font-size);
      }

      .signin-button {
        display: flex;
        justify-content: center;
        button {
          background-color: var(--primary-color);
          color: var(--secondary-color-text);
          font-size: 1.5rem;
          border-radius: 10px;
          border: none;
          width: 80vw;
          height: 6vh;
        }
      }

      .button-password {
        display: flex;
        position: relative;
        button {
          width: 25vw;
          height: 90%;
          border: none;
          background-color: white;
          position: absolute;
          right: 4px;
          top: 50%;
          border-radius: 5px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .inscription {
    .signin-page {
      width: 50vw;
      height: 60vh;

      form {
        gap: 20px;
        input {
          height: 40px;
          width: 30vw;
          height: 5vh;
        }

        .signin-button {
          width: 30vw;
        }
        .button-password {
          button {
            height: 90%;
            width: 30%;
          }
        }
      }
    }
  }
}
